$black:     #000000;
$dark:      #0C1821;
$blue:      #1B2A41;
$lightblue: #324A5F;
$light:     #CCC9DC;
$action:    #FA6900;
$white:     #fff;

$font:     'Open Sans', sans-serif;

$padding:   25px;
